<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Sistem Informasi Klinik Keperawatan Luka</title>

  <!-- Custom fonts for this template-->
  <link href="../static/css/all.min.css" rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
  
</head>
<body>
  
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('home')}}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas"></i>
            </div>
            
            <div class="sidebar-brand-text mx-3">
              Klinik Moist Care</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}">
                <i class="fa-fw"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('manage_accounts')}}">
              <i class="fa-fw"></i>
              <span>Pengelolaan Akun</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('kuota')}}">
              <i class="fa-fw"></i>
              <span>Kuota Berobat</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('antrian')}}">
              <i class="fa-fw"></i>
              <span>Kelola Antrian Berobat</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('data_kajian_pasien')}}">
              <i class="fa-fw"></i>
              <span>Data Kajian Luka</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('list_inventaris')}}">
              <i class="fa-fw"></i>
              <span>Inventaris</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('list_layanan')}}">
              <i class="fa-fw"></i>
              <span>Layanan</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('tagihan')}}">
              <i class="fa-fw"></i>
              <span>Tagihan</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('user.logout')}}">
              <i class="fa-fw"></i>
              <span>Keluar</span></a>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column my-0">
      
      <!-- Begin Page Content -->
      <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

          <div class="card-body">
              <div class="text-left">
                  <h1 class="h4 text-gray-900 my-3">Data Kajian Luka</h1>
              </div>
              {% with messages = get_flashed_messages() %}  
                {% if messages %}  
                  {% for message in messages %}  
                        <p>{{ message }}</p>  
                  {% endfor %}  
                {% endif %}  
              {% endwith %} 
              <!-- Nested Row within Card Body -->
              <div class="row">
                  <div class="col-lg-12">
                      <div class="">
                      {% for item in data %}
                      <!-- Content Row -->
                      <div class="col-xl-10 col-md-6 mb-4">
                          <a href="{{url_for('profil_data_kajian', _id = item._id )}}" class="d-none d-sm-inline-block btn btn-sm btn-primary "><i
                              class="fas fa-sm text-white-50"></i> Profil </a>
                          <a href="{{url_for('list_data_kajian_luka_pasien', _id = item._id )}}" class="d-none d-sm-inline-block btn btn-sm btn-primary "><i
                              class="fas fa-sm text-white-50"></i> Histori Kajian </a>
                          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary "><i
                              class="fas fa-sm text-white-50"></i> Galeri Luka </a>
                      </div>

                      <!-- DataTales Example -->
                      <div class="card mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tanggal</th>
                                            <th>NIP</th>
                                            <th>Nama Perawat</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ item.tanggal }}</td>
                                            <td>{{ item.nip }}</td>
                                            <td>{{ item.nama }}</td>
                                            <td><a class="btn btn-primary btn-user btn-block" href="{{url_for('detail_inventaris', _id = item._id )}}">lihat</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     </div>

                      
                      {% endfor %}
                      

                      </div>
                  </div>

              </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

      </div>

    </div>

<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../static/js/demo/chart-area-demo.js"></script>
<script src="../static/js/demo/chart-pie-demo.js"></script> 

</body>
</html>