{% extends "layout/Layout.html" %}

{% block title %} Pendaftaran Berobat {% endblock %} 

{% block content %}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column my-0">
  
  <!-- Begin Page Content -->
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="card-body">
          <div class="text-left">
              <h1 class="h4 text-gray-900 my-3">Pendaftaran Berobat</h1>
          </div>

          <!-- DataTales Example -->
          <div class="card mb-4">
            <!-- Topbar Search -->
            <div class="card-body">

              
              

              <!--<div class="card-body">
                  
              </div>-->
              
            </div>
          </div>

      </div>

    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock content %}

