{% extends "layout/Layout.html" %}

{% block title %} Daftar Pasien {% endblock %}

{% block content %}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column my-0">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="card-body">

                <div class="text-left">
                    <h1 class="h4 text-gray-900 my-3">Daftar pasien yang telah melakukan medical check up</h1>
                </div>

                <!-- DataTales Example -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>NIK</th>
                                        <th>Nama</th>
                                        <th>Jenis Kelamin</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data %}
                                    <tr>
                                        <td>{{ item.nik }}</td>
                                        <td>{{ item.nama }}</td>
                                        <td>{{ item.kelamin }}</td>
                                        <td><a class="btn btn-primary btn-user btn-block" href="{{url_for('list_medical_check_data', nik = item.nik )}}">lihat</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock content %}


