{% extends "layout/Layout.html" %}

{% block title %} Kuota Berobat {% endblock %} 

{% block content %}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column my-0">
  
  <!-- Begin Page Content -->
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="card-body">
          <div class="text-left">
              <h1 class="h4 text-gray-900 my-3">Kuota Berobat</h1>
          </div>
          <!-- Nested Row within Card Body -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="p-5">

                            
                    
                  </div>

              </div>

          </div>

      </div>

    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock content %}




  
