<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('home')}}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas"></i>
        </div>
        
        <div class="sidebar-brand-text mx-3">
          Klinik Moist Care</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">
            <i class="fa-fw"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('manage_accounts')}}">
          <i class="fa-fw"></i>
          <span>Pengelolaan Akun</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('list_patient_medical_check')}}">
          <i class="fa-fw"></i>
          <span>Pemeriksaan Kesehatan</span></a>
    </li>

    <!-- Divider
    <hr class="sidebar-divider my-0">-->

    <!-- Nav Item - Dashboard 
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('kuota')}}">
          <i class="fa-fw"></i>
          <span>Kelola Antrian Berobat</span></a>
    </li>-->

    <!-- Divider -->
    <!--<hr class="sidebar-divider my-0">-->

    <!-- Nav Item - Dashboard -->
    <!--<li class="nav-item active">
      <a class="nav-link" href="{{url_for('data_kajian_pasien')}}">
          <i class="fa-fw"></i>
          <span>Proses Pengobatan</span></a>
    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('list_inventaris')}}">
          <i class="fa-fw"></i>
          <span>Inventaris</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('list_layanan')}}">
          <i class="fa-fw"></i>
          <span>Layanan</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard 
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('tagihan')}}">
          <i class="fa-fw"></i>
          <span>Tagihan</span></a>
    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('user.logout')}}">
          <i class="fa-fw"></i>
          <span>Keluar</span></a>
    </li>

</ul>
<!-- End of Sidebar -->